h1 {
    font-family: 'Helvetica', sans-serif;
}
h2 {
    font-family: 'Helvetica', sans-serif;
    font-size: medium;
    font-weight: 300;
}

h3 {
    font-family: 'Helvetica', sans-serif;
    font-size: smaller;
    font-weight: 500;
}

#t-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
